 body {
     background-color: #8c8d8f;
     margin-left: 0px;
     margin-top: 0px;
 }

 #cabecudo {
    height: 250px;
    float: left;
}

 .inline {
     display: inline-block;
 }

 .inline p {
     margin-top: 75px;
     text-align: start;
     margin-left: 170px;
 }

 .cabecalho {
     text-align: center;
     margin-top: 5%;
 }

 .top-align {
     text-decoration: none;
     background-color: rgb(32, 30, 30);
     position: fixed;
     width: 100%;
 }

 .list-nav li{
     list-style: none;
     display: inline-block;
     background-color: rgba(155, 158, 167, 0.692);
     padding: 4px 6px;
     border-radius: 5px;
     margin-right: 14px;
     margin-left: 14px;
 }

 #li-nav {
     color: white;
     text-decoration: none;
 }

 #li-nav:hover {
    font-size: 18px;
    padding: 7px 9px;
 }

 h1 {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 h2 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 h3 {
     font-family: Tahoma, sans-serif;
 }

 p {
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
}

 .lists {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 16px;
    }

 .redes {
        color: #fff;
        padding: 7px 10px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    #git {
        background-color: #3e454e;
    }

    #insta {
        background-color: rgb(143, 12, 56);
    }

    #tt {
        background-color: rgb(74, 146, 241);
    }