 body {
     background-color: #8c8d8f;
     margin-top: 2%;
     margin-left: 20%;
     margin-right: 20%;
     margin-bottom: 2%;
 }
 .cabecalho {
     text-align: center;
 }
 h1 {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 h2 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 h3 {
     font-family: Tahoma, sans-serif;
 }

 p {
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
}

 .lists {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 16px;
    }
 .redes {
        color: #fff;
        padding: 7px 10px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
    }
    
    #git {
        background-color: #3e454e;
    }

    #insta {
        background-color: rgb(143, 12, 56);
    }

    #tt {
        background-color: rgb(74, 146, 241);
    }